###### Frontend - Note that variables in this section all have to start with 'VITE_' since
# we are using Vite and it does its own bundling for certain environment variables
VITE_BACKEND_URL=http://localhost:8080

###### Backend
BROWSER_VISIBILITY_MODE=debug
# `debug` for local testing or `default` for Docker
BROWSER_ACTION_TIMEOUT_MS=5000

MODEL=openai/models/ggml-model-Q4_K_M.gguf
OPENAI_API_KEY=sk-1234
OPENAI_BASE_URL=http://localhost:8000
# Model location and llama-cpp-server image specification, 'cuda' or 'cpu'
LLM_DEVICE_TYPE=cuda
# Parser model location, `cuda` or `cpu`
PARSER_DEVICE=cpu

PARSER_MODE=enabled
PARSER_HOST=localhost
PARSER_PORT=8055

WEB_AGENT_IMAGE=web-agent
WEB_AGENT_TAG=latest
# WEB_AGENT_CONFIG_PATH=configuration/dspy-planner-constrained-tools-simple-import.yaml
WEB_AGENT_CONFIG_PATH=configuration/dspy-planner-constrained-tools-custom-mcp.yaml
DOCKER_NETWORK_NAME=fast-food

BROWSER_SCREENSHOT_WEBSOCKET_DELAY=0.03
BROWSER_SCREENSHOT_WEBSOCKET_RETRY_DELAY=1.0

###### Versions
CUDA_VERSION=12.9
NVIDIA_CONTAINER_TOOLKIT_VERSION=1.17.8-1
