###### Frontend - Note that variables in this section all have to start with 'VITE_' since
# we are using Vite and it does its own bundling for certain environment variables
VITE_BACKEND_URL=http://localhost:8080

###### Backend

###### Versions
CUDA_VERSION=12.9
NVIDIA_CONTAINER_TOOLKIT_VERSION=1.17.8-1
